<div class="layout layout--col gap--space-between">
    <div class="grid">
        <div class="item col--span-1">
            <div class="meta"></div>
            <div class="content">
                <img src="{{ next_game.teams[0].logo }}" alt="{{ next_game.teams[0].name }}" width="75">
                <span class="value value--small">{{ next_game.teams[0].name }}</span>
                <span class="label">{{ next_game.teams[0].home_away | capitalize }}</span>
            </div>
        </div>
        <div class="item col--span-1">
            <div class="meta"></div>
            <div class="content">
                <img src="{{ next_game.teams[1].logo }}" alt="{{ next_game.teams[1].name }}" width="75">
                <span class="value value--small">{{ next_game.teams[1].name }}</span>
                <span class="label">{{ next_game.teams[1].home_away | capitalize }}</span>
            </div>
        </div>
        <div class="row row--center">

            <span class="value value--xsmall"><p>Next Game</p> {{ next_game.formatted_date }}</span>
        </div>
        <div class="row row--center">{{ next_game.venue }}</div>
    </div>

    <div class="divider"></div>
    <div class="grid">
        <div class="item col--span-1">
            <div class="meta"></div>
            <div class="content">
                <img src="{{ last_game.teams[0].logo }}" alt="{{ last_game.teams[0].name }}" width="75">
                <span class="value value--small">{{ last_game.teams[0].name }}</span>
                <span class="label">{{ last_game.teams[0].home_away | capitalize }}</span>
                <span class="label label--large label--outline">{{ last_game.teams[0].score.displayValue }}</span>
                <span class="label">{{ last_game.teams[0].record }}</span>
            </div>
        </div>
        <div class="item col--span-1">
            <div class="meta"></div>
            <div class="content">
                <img class="image-dither" src="{{ last_game.teams[1].logo }}" alt="{{ last_game.teams[1].name }}" width="75">
                <span class="value value--small">{{ last_game.teams[1].name }}</span>
                <span class="label">{{ last_game.teams[1].home_away | capitalize }}</span>
                <span class="label label--large label--outline">{{ last_game.teams[1].score.displayValue }}</span>
                <span class="label">{{ last_game.teams[1].record }}</span>
            </div>
        </div>
        <div class="row row--center">
            <span class="value value--xsmall"><p>Previous Game</p>{{ last_game.date | date: "%A, %B %d %l:%M %p"}}</span>
        </div>
        <div class="row row--center">{{ last_game.venue }}</div>
    </div>
    <div class="title_bar item col--span-1">
        <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
        <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
        <span class="instance">{{ trmnl.plugin_settings.custom_fields_values.team }}</span>
    </div>
</div>


