<div class="layout layout--col gap--space-between">
    <div class="grid">
            <div class="item col--span-2 gap--xsmall no-shrink" style="text-align: center;">
                <img class="image-dither" src="{{ next_game.teams[0].logo }}" height="75" alt="{{ next_game.teams[0].displayName }} logo">
                <img class="image-dither" src="{{ next_game.teams[1].logo }}" height="75" alt="{{ next_game.teams[1].displayName }} logo">
                <span class="title title--small">{{ next_game.name }}</span>
                <span class="title title--small">{{ next_game.formatted_date}}</span>
            </div>
        <div class="divider--v"></div>
            <div class="item col--span-2 gap--xsmall no-shrink " style="text-align: center;">
                <img class="image-dither" src="{{ last_game.teams[0].logo }}" height="50" alt="{{ next_game.teams[0].displayName }} logo">
                <img class="image-dither" src="{{ last_game.teams[1].logo }}" height="50" alt="{{ next_game.teams[1].displayName }} logo">
                <span class="title title--small">{{ last_game.name }}</span>
                <div class="item">
                    <span class="title title--medium">{{ last_game.teams[0].abbreviation }} {{ last_game.teams[0].score.displayValue}} - {{ last_game.teams[1].abbreviation }} {{ last_game.teams[1].score.displayValue}}</span>
                </div>
            </div>
        </div>
    </div>
<div class="title_bar item col--span-1">
    <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
    <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
    <span class="instance">{{ trmnl.plugin_settings.custom_fields_values.team }}</span>
</div>